@import "tailwindcss";

@import "@fontsource-variable/merriweather";
@import "@fontsource-variable/montserrat";

@theme {
  --font-sans:
    "Montserrat", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
  --font-serif:
    "Merriweather", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    "Noto Serif";
  --color-brand0: #372528;
  --color-brand1: #614051;
  --color-brand2: #7b1b38;
}
